// Colors
$clr-base: #172b4d;

$clr1: #fff;
$clr2: #EBB0B4;
$clr3: #BFA5A6;
$clr4: #C3C196;
$clr5: #ADAC9A;

$offwhite:#ebecf0;

$clr-ok-btn: #71d165;
$clr-alarm-btn: #eb7386;

$subtle-shadow: 0px 2px 0px #0000002e;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 710px;
$normal-breakpoint: 960px;
